*.log
.htaccess
*.asv
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
week1/highway/
week1/testAB/
week1/opticalFlow/
week2/highway/
week2/fall/
week2/traffic/
week2/figures/
week3/highway/
week3/fall/
week3/traffic/
week3/figures/
week4/traffic/